@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Nunito", sans-serif;
  padding: 0;
  margin: 0;
}

/* ant design modal footer top margin remove */
.ant-modal-footer {
  margin-top: 0 !important;
}

/* ant design menu option */
.ant-menu-item:hover {
  background-color: #007ba5 !important;
  color: #fff !important;
}

/* .ant-menu-item-selected {
  border-left: 8px solid #5B5CE2 !important;
  background-color: transparent !important;
  color: #757575 !important;
  padding-left: 14px !important;
} */

.ant-menu .ant-menu-item .ant-menu-item-icon + span {
  transition: none !important;
}

.ant-menu-light .ant-menu-submenu-selected > .ant-menu-submenu-title {
  color: #007ba5 !important;
}

.ant-menu .ant-menu-title-content {
  transition: none !important;
}

.ant-badge .ant-badge-count {
  background: #eec10b !important;
  color: white !important;
}

.jodit-workplace {
  height: 450px !important;
  background-color: #E7F0EF75 !important;
  margin-top: 10px !important;
}

.jodit-container .jodit-toolbar-editor-collection {
  background-color: #E7F0EF75 !important;
}

.custom-input::placeholder {
  color: #757575 !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  line-height: 130% !important;
  opacity: 1 !important;
}

.custom-table .ant-table-thead > tr > th {
  background-color: #B5D0CC;
  color: #0F665A;
  font-size: medium;
}

.custom-table .ant-table-tbody > tr > td {
  color: #757575 !important;
  font-size: 16px !important;
  font-weight: 500;
}
